.font {
    font-weight: bold;
}
#paragraph_aside {
    color: brown;
}
aside {
    font-size: larger;
}
button:hover {
    background-color:dodgerblue;
}
form {
    background-color: darkorchid;
    background-size: cover;
}
footer {
    background: chocolate;
}
header, footer {
    background-color: limegreen;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section {
    background-image: url(https://s1.1zoom.me/b5050/192/Lapland_region_Finland_510265_3840x2400.jpg); 
}



