body {
  margin: 0;
}
header {
  border: solid 3px purple;
  height: 100px;
}
h1 {
  line-height: 100px;
  margin: 0;
  text-align: center;
}
article {
  border: solid 3px aqua;
  margin: 10px;
  padding: 10px;
}

.main-container {
  display: flex;
}

article {
  flex: 1 200px;
}

article:nth-of-type(3) {
  flex: 3 200px;
  display: flex;
  flex-flow: column;
}

article:nth-of-type(3) div:first-child {
  flex: 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

button {
  flex: 1 auto;
  margin: 5px;
  font-size: 18px;
  line-height: 1.5;
}
