body {
  margin: 20px auto;
  max-width: 960px;
  width: 70%;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}

button:first-child {
  align-self: flex-end;
  order: 1;
}

.main-container {
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
